<ul id="boutique" class="u-marginTl">
    <li>
        <a href="http://hepaimusic.com/about/services" target="_blank">
            <img src="/images/banner/fuhua.png" width="700" height="400" />
        </a>
    </li>

    <li>
        <a href="http://musicianguide.cn/xin-mo-shi-tui-jian-rang-ni-bu-hua-qian-wu-feng-xian-bu-cao-xin-zuo-zhou-bian-di-fang-fa"
           target="_blank">
            <img src="/images/banner/t-shirt.png" width="700" height="400" />
        </a>
    </li>

    <li>
        <a href="#/jobs/intro">
            <img src="/images/banner/jobs.png" width="700" height="400" />
        </a>
    </li>
</ul>
