<ul id="boutique" class="u-marginTl">
    {{! FIXME hardcode url here}}
    <li>
        <a href="#/jobs/intro">
            <img src="/images/jobs.png" width="700" height="400" />
        </a>
    </li>

    <li>
        <a href="#/products/musicianguide">
            <img src="/images/musicianguide.png" width="700" height="400" />
        </a>
    </li>

    <li>
        <a href="#/products/hepaimusic">
            <img src="/images/hepaimusic.png" width="700" height="400" />
        </a>
    </li>

    <li>
        <a href="#/products/youyanchu">
            <img src="/images/youyanchu.png" width="700" height="400" />
        </a>
    </li>
</ul>
