<div {{bind-attr class="asideClass :u-pullLeft"}}>
    <div class="u-marginLl">
        <div class="aside-header u-marginBm">
            {{header}}
        </div>

        <ul class='aside-links'>
            {{#each link in links}}
                <li>
                    {{#link-to route link.position}}
                        {{link.name}}
                    {{/link-to}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
