$color-white: #fff;
$color-black: #151515;

$color-gray: #666;
$color-gray-light: #a4a4a4;
$color-gray-lighter: #c4c4c4;

$color-blue: #2889e9;
$color-blue-light: #499ff3;

$color-yellow: #f5c853;
$color-red: #ef6b74;

/// Usages
$color-text: $color-gray;
$color-link: $color-blue;
$color-link-hover: $color-blue;
$size-rounded: 3px;

$width-global: 960px;

// == button ==
$btn-medium-height: 36px;

// == header ==
$header-height: 100px;

// == aside ==
$aside-width: 192px;
$color-aside-link-hover: #f3bd49;
