.aside {
    width: $aside-width;
    margin-top: 50px;
}

.aside-header {
    line-height: 40px;
    font-size: 20px;
    color: $color-blue;
}

.aside-links {
    a {
        color: $color-gray-light;
        line-height: 32px;
        font-size: 16px;

        &.active {
            color: $color-aside-link-hover;
        }
    }
}
