.section {
    width: $width-global;
}

.section-content {
    width: $width-global - $aside-width;
    margin-top: 45px;
}

.section-image-outer {
    width: 748px;
    height: 400px;
}

.section-header {
    font-size: 30px;
    line-height: 60px;
    color: $color-blue;
    margin-bottom: 15px;
}

.section-buttons {
    padding-bottom: 60px;
    border-bottom: 1px solid $color-gray-lighter;
}
