<div class="section u-alignCenter">
    {{section-aside
          header='关于'
          route='about'
          links='[
            { "name": "关于我们", "position": "us" },
            { "name": "联系我们", "position": "contact" }
          ]'
    }}

    {{#section-content
           for='about-us'
           header='关于我们'}}
        <p>
            2000年，一个懵懂的少年在念着初中的时候，通过 Channel V 上潘玮柏的一小段《龙卷风》的试唱，认识到了周杰伦。随后的连续几个夏天，都和伙伴们无限期待地四处搜索周杰伦的提前泄露MP3。浑然不知这种方法在未来 十年内差点毁掉音乐行业。
        </p>

        <p class="u-marginTl">
            在2000年前，音乐行业真正鼎盛的年代，每一个巨星都能销售数百万的磁带和 CD。但是现在，已经几乎没有一个歌手能卖超过十万专辑。而通过版权又无法像国外一样收到应得的收入。音乐行业已经萎缩得只剩下正常水平的2%左右。这就 是我们进入音乐行业的时候。
        </p>

        <p class="u-marginTl">
            我们相信张学友在多年前某个颁奖典礼里面说过的“好歌有好报”，因此在服务音乐人方面不断努力，做出音乐人攻略、合拍、有演出，还提供很多帮助音乐人的服务。
        </p>

        <p class="u-marginTl">
            我们相信互联网的力量，并且希望将这种力量重新注入音乐领域。
        </p>

        <p class="u-marginTl">
            未来三年，做三件事：
        </p>

        <p class="u-marginTl">
            让音乐人和唱片公司在经营推广上少走50%的弯路，少花50%的钱，多获得100%的收益。
        </p>

        <p class="u-marginTl">
            用十年时间，做到：
        </p>

        <p class="u-marginTl">
            没有怀才不遇的音乐人，没有红不了的好歌，音乐人的付出也将和收益对等起来。
        </p>
    {{/section-content}}

    {{!#section-content
           for='about-partners'
           header='合作伙伴'}}
        <!--<div class="section-sub-header section-highlight">-->
            <!--媒体包-->
        <!--</div>-->

        <!--<p class="u-marginBm">-->
            <!--我们将 GaiaMagic 及旗下相关的网站产品 Logo 和素材一并打包，直接提供下载。-->
        <!--</p>-->

        <!--<a class="btn btn-medium btn-blue" href="" target="_blank">-->
            <!--下载媒体包-->
        <!--</a>-->
    {{!/section-content}}

    {{#section-content
           for='about-contact'
           header='联系我们'}}
        <p>公司地址：广东省佛山市禅城区季华五路 23 号鸿业豪庭</p>
        <p>邮政编码：528000</p>
        <p>公司电话：0757-83638389</p>
        <p class="u-marginBs">广告投放及商务合作：<a href="mailto:business@gaiamagic.com">business@gaiamagic.com</a></p>

        <div>
            <p class="u-marginTl u-marginBm">音乐人攻略：</p>

            <a class="btn btn-medium u-marginRl u-pullLeft btn-red" href="http://weibo.com/musicianguidecn" target="_blank">
                新浪微博
            </a>

            <div class="btn-medium">
                微信公众平台：音乐人攻略
            </div>
        </div>

        <div>
            <p class="u-marginTl u-marginBm">合拍：</p>

            <a class="btn btn-medium u-marginRl u-pullLeft btn-red" href="http://weibo.com/hepaimusic" target="_blank">
                新浪微博
            </a>

            <div class="btn-medium">
                微信公众平台：hepaimusic
            </div>
        </div>
    {{/section-content}}
</div>
