<div class="header">
    <div class="header-inner u-alignCenter">
        {{#link-to 'index' classNames=[header-logo u-inlineBlock]}}
            <img src="/images/logo.png" alt="GaiaMagic" />
        {{/link-to}}

        <div class="header-nav u-pullRight">
            <a href="/">首页</a>
            <a href="/">产品与服务</a>
            <a href="/">招聘</a>
            <a href="/">关于</a>
            <a href="/">博客</a>
        </div>
    </div>
</div>
  
<div class="main">
    {{outlet}}
</div>
