<div class="section u-alignCenter">
    {{section-aside
         header='国外分销'
         route='distribution'
         links='[
            { "name": "服务介绍", "position": "intro" },
            { "name": "FAQ", "position": "faq" }
          ]'
    }}

    {{section-content
        for='distribution-intro'
        header='服务介绍'
        image='/images/distribution.png'
        description='国外十多平台与地区免费上架，试运行期间，获得收入高达85%分成，仍然拥有版权完全权益，随时可取消授权，音乐人攻略团队出品，信誉保证。'
    }}
</div>
