<div id="index" style="background: #aaa; height: 502px;">
  Banner
</div>

<div id="products-musicianguide">
    <div class="aside u-pullLeft">
        <div class="aside-header u-marginBm">
            产品与服务
        </div>

        <ul>
            <li>
                {{#link-to 'products.musicianguide' class='aside-link'}}
                    音乐人攻略
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'products.hepaimusic' class='aside-link'}}
                    合拍
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'products.youyanchu' class='aside-link'}}
                    有演出
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'products.shenglijun' class='aside-link'}}
                    生力军计划
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'products.sell' class='aside-link'}}
                    国外分销
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'products.t-shirt' class='aside-link'}}
                    T恤印制
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'products.store' class='aside-link'}}
                    音乐入库
                {{/link-to}}
            </li>
        </ul>
    </div>

    <div class="section u-pullLeft u-marginTl">
        <h2 class="section-header">音乐人攻略</h2>

        <img src="/images/musicianguide.png" alt="音乐人攻略" />
    </div>
</div>

<div style="height: 1000px;">
</div>
