<div id="index" style="background: #aaa; height: 502px;">
  Banner
</div>

<div id="products-musicianguide" class="section u-alignCenter">
    {{section-aside
         header='产品与服务'
         links='[
            { "name": "音乐人攻略", "route": "products.musicianguide" },
            { "name": "合拍", "route": "products.hepaimusic" },
            { "name": "友演出", "route": "products.youyanchu" },
            { "name": "生力军计划", "route": "products.shenglijun" },
            { "name": "国外分销", "route": "products.sell" },
            { "name": "T恤印制", "route": "products.t-shirt" },
            { "name": "音乐入库", "route": "products.store" }
          ]'
    }}

    {{section-content
        header='音乐人攻略'
        image='/images/musicianguide.png'
        buttons='[
          { "name": "官方网站", "url": "http://musicianguide.cn", "style": "btn-blue" },
          { "name": "新浪微博", "url": "http://weibo.com/musicianguidecn", "style": "btn-red" },
          { "name": "下载APP", "url": "https://itunes.apple.com/cn/app/yin-le-ren-gong-e/id654656930", "style": "btn-yellow" }
        ]'
        description='音乐人攻略是国内领先音乐领域垂直媒体，专注服务音乐行业，提供前沿行业动态，研究音乐类行销、演出、网络等领域。努力为音乐人、从业人员和音乐爱好资讯和攻略。已推出到 iPhone 和 iPad 客户端，更方便为你推送第一手新闻资讯。'
    }}
</div>

<div style="height: 1000px;">
</div>
