<div class="section u-alignCenter">
    {{section-aside
          header='招聘'
          route='jobs'
          links='[
            { "name": "团队状况", "position": "intro" },
            { "name": "招聘职位", "position": "titles" }
          ]'
    }}

    {{#section-content
           for='jobs-intro'
           header='团队状况'}}

        <p>
            有演出，于 2014 年底获得数百万天使轮融资，目前每月以 100% 的速度快速增长。于北京和广东佛山（三站地铁到广州）都有分部。 
        </p>

        <p class="u-marginVm">
            几个月的推进，目前在 Livehosue 音乐演出的市场份额中遥遥领先，并与迷笛、摩登天空等音乐节进行合作，未来将扩展到 Party、演唱会甚至更多活动品类。 
        </p>

        <p class="u-marginVm">
            团队有经验丰富、创业成功的 VP ，有名校毕业、大公司背景的 CTO 和更多又牛又闹的小伙伴。团队氛围非常像海贼王。 
        </p>

        <p class="u-marginVm">
            求贤若渴，使出所有花招吸引你来：免费水果、饮料、零食；阿姨住家饭；弹性上班； PS4  + 小霸王 + 乐视电视 + 懒人沙发；七险一金；带薪年假；大屏幕；无办公室政治；购书报销； 
        </p>

        <p class="u-marginVm">
            加入创业公司，有几样是最吸引人的：1，实现自我，享受挑战、自由和成长空间；2，跟着公司发财，获得财务的爆炸性增长；3，为世界变得更好而创造；4，变得快乐，活得简单； 
        </p>

        <p class="u-marginVm">
            以上四样都是我们可以为你实现的。
        </p>

        <p class="u-marginBm">
            <div>简历投递到：<a href="mailto:HR@gaiamagic.com">HR@gaiamagic.com</a></div>
            <div>简历格式仅限 PDF、DOC 和 JPG</div>
            <div>工作地点：北京/广州/佛山</div>
        </p>
    {{/section-content}}

    {{#section-content for='jobs-titles' header='招聘职位'}}
        <div class="jobs u-cf">
            {{#each job in model}}
                {{job-item job=job
                           currentSlug=currentSlug
                           action="setCurrentSlug"
                }}
            {{/each}}
        </div>

        <div class="job-description rounded u-paddingAl u-marginTl">
            {{currentContent}}
        </div>
    {{/section-content}}
</div>
