<div class="section u-alignCenter">
    {{section-aside
          header='招聘'
          route='jobs'
          links='[
            { "name": "团队状况", "position": "intro" },
            { "name": "招聘职位", "position": "titles" }
          ]'
    }}

    {{#section-content
           for='jobs-intro'
           header='团队状况'}}

        <div class="u-marginBm">
            过去十年都没有见过邓丽君、张学友、王菲、陈奕迅、周杰伦这样级别的音乐人诞生。所以从一开始我们就带着脾气想做一件不一样的事情，一件改变点什么的事情。
        </div>

        <p>
            合拍音乐（<a href="http://hepaimusic.com" target="_blank">hepaimusic.com</a>）
        </p>

        <p>
            解决音乐人缺少垂直社区，并且低效协作的问题。音乐的 Github，打了一个垂直社交的底，还做了让音乐人们在 Web 和 APP 上共同创作制作音乐的创新。将编程的 Github 模式搬到音乐领域，计划推动一种新的协作方法。
        </p>

        <p class="u-marginTl">
            有演出（<a href="http://youyanchu.com" target="_blank">youyanchu.com</a>）
        </p>

        <p>
            解决歌迷查询、购票的问题，目标打造一个音乐演出神器。将 Livehouse、音乐节、演唱会的前期查询、购票体验提升到电影票的水平，为了让音乐现场消费走进更多没有看过的人群，增加音乐人、主办方和场地的收入。
        </p>

        <p class="u-marginTl">
            音乐人攻略（<a href="http://musicianguide.cn" target="_blank">musicianguide.cn</a>）
        </p>

        <p>
            解决音乐人没有渠道了解行业，了解乐理之外的经营技巧的问题。在以前从来没有一个针对音乐行业的新媒体。我们不计代价地发布了超过 2000 篇文章，做了 iPhone 和 iPad 的 APP。目前慢慢成为音乐人和行业人士获得资讯和攻略的地方，覆盖超过 60% 的音乐领域各个环节的中高层与一线精英。
        </p>

        <p class="u-marginTl">
            我们属于音乐领域的互联网创业，专注于服务音乐人。一门三杰大幕拉开，能低调做好的事情已经做完，该布的局已经布好了。
        </p>

        <p class="u-marginTl">
            我们实力从来没有变得这么强，梦想的未来从未变得如此近。十多人团队，不但齐备而且各个岗位都有牛人。2014 年迎来进击的一年，期待用互联网思维和产品颠覆音乐。
        </p>

        <div class="section-sub-header">
            待遇
        </div>

        <p class="u-marginBm">
            以下所有岗位8W年薪以上 + 季度奖金 + 团队期权
        </p>

        <p>
            高速带宽、大屏幕公司标配。值得说的不是条件，而是我们团队都很拼命地变得牛逼，不打卡，没有行政束缚，没有办公室政治，大家心无杂念想做好产品，服务好用户。
        </p>

        <div class="section-sub-header">
            感觉兴趣？
        </div>

        <p class="u-marginBm">
            简历投递到：
            <a href="mailto:HR@gaiamagic.com">HR@gaiamagic.com</a>
            每一封信创始人都会亲自回复
        </p>

        <p class="u-marginBm">工作地点：北京双井/佛山千灯湖站，可远程</p>

        <p>
            除了以下罗列的岗位，还有更多版权专员、演出专员、推广、运营、文员、初级工程师岗位开放，接受实习生和在校大学生应聘。一入职就接触最先进工具和协作方法，参与挑战性工作，快速成长的最好方式。
        </p>
    {{/section-content}}

    {{#section-content for='jobs-titles' header='招聘职位'}}
        <div class="jobs u-cf">
            {{#each job in model}}
                {{job-item job=job
                           currentSlug=currentSlug
                           action="setCurrentSlug"
                }}
            {{/each}}
        </div>

        <div class="job-description rounded u-paddingAl u-marginTl">
            {{currentContent}}
        </div>
    {{/section-content}}
</div>
