<div class="section u-alignCenter">
    {{section-aside
         header='T恤定制'
         route='t-shirt'
         links='[
            { "name": "服务介绍", "position": "intro" },
            { "name": "FAQ", "position": "faq" }
          ]'
    }}

    {{section-content
        for='t-shirt-intro'
        header='服务介绍'
        image='/images/t-shirt.png'
        description='乐队定制T恤不再繁琐，从面料的筛选到印刷技术的抉择，我们帮你操刀。只需一步即可成功定制，节省你75%以上的时间，让乐队周边产品立刻开卖。'
    }}
</div>
