<div class="section u-alignCenter">
    {{section-aside
          header='T恤定制'
          route='t-shirt'
          links='[
            { "name": "服务介绍", "position": "intro" },
            { "name": "FAQ", "position": "faq" }
          ]'
    }}

    {{#section-content
          for='t-shirt-intro'
          header='服务介绍'
          image='/images/t-shirt.png'
          description='乐队定制T恤不再繁琐，从面料的筛选到印刷技术的抉择，我们帮你操刀。只需一步即可成功定制，节省你 75% 以上的时间，让乐队周边产品立刻开卖。'}}

        <div class="section-sub-header">
            对比超过 39 种不同面料，六种印刷对比，经过 180 多天团队试穿，为你带来以下惊喜
        </div>

        <p class="section-highlight">
            精选支数与厚度，为你平衡性价比。
        </p>
        <p class="u-paddingBs u-marginBl">
           夏天不想太厚，但也不想太透。想要弹性，但又不想走形。我们反复测试，为你找到一款上身感觉最好，性价比最高的面料。
        </p>

        <p class="section-highlight">
            关注持久耐新，夏天过后明年仍然成为主打。
        </p>
        <p class="u-paddingBs u-marginBl">
            使用最主流印刷技术，选择最耐机洗的面料，初夏的t恤明年后年仍然可以穿。
        </p>

        <p class="section-highlight">
            选择特别领口做法，解决T恤爱好者最头痛的问题。
        </p>
        <p class="u-paddingBs u-marginBl">
            抛弃常用螺纹领，使用封口领技术，六个月后领口仍然历久常新。
        </p>

        <p class="section-highlight">
            印刷的少而美，专注于 80% 的印制需求。
        </p>
        <p class="u-paddingBm u-marginBl">
            颜色多印几个，不如每色都鲜艳清晰少锯齿，保证 4 色以下最好表现力。
        </p>

        <div class="u-marginVl u-paddingVl">
            <img src="/images/t-shirt/samples.png" alt="samples" />
        </div>

        <p class="u-paddingTm section-highlight">
            送出超过一百件试穿，获得音乐人用户的 100% 的好评。
        </p>
        <p class="u-paddingBs u-marginBl">
            情绪中国乐队小泉：「特别喜欢那种超软的面料 希望可以尽快合作啊」
        </p>

        <p class="section-highlight">
            从下单到收货，最快 7 天内完成：
        </p>
        <p class="u-paddingBs u-marginBl">
            联系客服 → 提供印刷图案 → 确认订单 → 付款 → 入厂印刷（3天 ~ 6天）→ 发货（3天 ~ 6天）
        </p>

        <p>
            如果你对我们的T恤定制有任何疑问，欢迎联系我们：（9:00 ~ 18:00）
        </p>
        <p>
           客服 QQ &amp; Email
        </p>
        <p>
            <span>Nico: </span>
            <span>282648902</span>
            <span> / </span>
            <a href="mailto:nico@gaiamagic.com">nico@gaiamagic.com</a>
        </p>
        <p>
            <span>Garwiness: </span>
            <span>472253092</span>
            <span> / </span>
            <a href="mailto:garwiness@gaiamagic.com">garwiness@gaiamagic.com</a>
        </p>

    {{/section-content}}

    {{faq-content
          header='FAQ'
          for='t-shirt-faq'
          faqList=model
    }}
</div>
