<div class="section u-alignCenter">
    {{section-aside
         header='音乐入库'
         route='warehousing'
         links='[
            { "name": "服务介绍", "position": "intro" },
            { "name": "FAQ", "position": "faq" }
          ]'
    }}

    {{section-content
        for='warehousing-intro'
        header='服务介绍'
        image='/images/warehousing.png'
        description='试运行期间，国内主流平台免费入库，百度、虾米、酷狗、多米、你听，更多平台即将开放，借助亿级用户平台，轻松展示你的音乐。音乐人攻略团队出品，信誉保证，正规版权代理合同保障，音乐人享受90%的版权费、付费下载收益。'
    }}
</div>
