<div class="section u-alignCenter">
    {{section-aside
         header='音乐入库'
         route='warehousing'
         links='[
            { "name": "服务介绍", "position": "intro" },
            { "name": "FAQ", "position": "faq" }
          ]'
    }}

    {{#section-content
        for='warehousing-intro'
        header='服务介绍'
        image='/images/warehousing.png'
        description='试运行期间，国内主流平台免费入库，百度、虾米、酷狗、多米、你听，更多平台即将开放，借助亿级用户平台，轻松展示你的音乐。音乐人攻略团队出品，信誉保证，正规版权代理合同保障，音乐人享受90%的版权费、付费下载收益。' }}

        <div class="section-sub-header">
            平台介绍：
        </div>

        <div class="u-cf u-marginVl u-paddingBs">
            <div class="warehousing-intro-item first u-pullLeft">
                <img src="/images/warehousing/baidu.png" class="u-alignCenter u-block" alt="百度音乐" />
                <h4 class="name u-textCenter">百度音乐</h4>
                <p>中国音乐最大门户之一，提供海量高品质音乐，粉丝可以马上搜索到你的作品。</p>
            </div>

            <div class="warehousing-intro-item u-pullLeft">
                <img src="/images/warehousing/xiami.png" class="u-alignCenter u-block" alt="虾米" />
                <h4 class="name u-textCenter">虾米</h4>
                <p>以社区互动文化为核心的音乐分享平台。阿里集团旗下重点推广的音乐产品，最近推出“音乐人平台”，旨在帮助音乐人赚取分成。</p>
            </div>

            <div class="warehousing-intro-item u-pullLeft">
                <img src="/images/warehousing/kugou.png" class="u-alignCenter u-block" alt="酷狗" />
                <h4 class="name u-textCenter">酷狗</h4>
                <p>国内最先提供在线试听功能的音频播放软件，拥有超过4亿安装量，一曲上传，即可面向每月数亿活跃用户。</p>
            </div>
        </div>

        <div class="u-cf u-paddingTl">
            <div class="warehousing-intro-item first u-pullLeft">
                <img src="/images/warehousing/duomi.png" class="u-alignCenter u-block" alt="多米" />
                <h4 class="name u-textCenter">多米</h4>
                <p>集音乐的发现、获取和欣赏于一体的一站式个性化音乐服务平台。为你的粉丝提供更多精选榜单、专辑。</p>
            </div>

            <div class="warehousing-intro-item u-pullLeft">
                <img src="/images/warehousing/niting.png" class="u-alignCenter u-block" alt="你听" />
                <h4 class="name u-textCenter">你听</h4>
                <p>国内首个基于场景听歌的音乐社交 APP，专注服务喜欢音乐又热爱分享的人们。</p>
            </div>
        </div>

        <div class="section-sub-header">
            入库流程：
        </div>

        <div class="u-marginVl u-paddingBl">
            <img src="/images/warehousing/flow.png" alt="flow" />
        </div>

        <p class="u-paddingTm">
            <span>有意请联系： </span>
            <a href="mailto:FX@gaiamagic.com">RK@gaiamagic.com</a>
            <span>或 QQ 282648902</span>
        </p>

    {{/section-content}}

    {{faq-content
          header='FAQ'
          for='warehousing-faq'
          faqList=model
    }}
</div>
